<section id="home">
    <h2>home</h2>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>

<section id="about">
    <h2>about</h2>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>

<section id="projects">
    <h2>projects</h2>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>

<section id="contact">
    <h2>Contact</h2>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>