/* Ensures the navigation container is a flex column */
.nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
    padding: 1.25rem 1.875rem 0.625rem 2.813rem;
    background-color: rgb(255, 248, 244);
    text-align: right;
}

/* Style adjustments for the name section */
.nav-name {
    background-color: #000;
    color: #fffdfd;
    padding: 0.25rem;
    margin-bottom: 0.625rem;
    font-family: 'Kreadon-L';
    letter-spacing: 0.125rem;

}

.nav-name h1, .nav-name h2 {
    text-align: right;
}

.nav-name h1 {
    font-size: 22px;
}

.nav-name h2 {
    font-size: 14px;
    font-weight: 100;
}

/* Targeting the links container specifically for flex column layout */
.nav-links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.nav-links-container{
    
}
