
$colors: #cad2c5, #84a98c, #52796f ,#354f52

.nav-container
    display: flex
    justify-content: space-around
    background: #252422
    padding: 3vh
    margin: 0 
    

.nav-items
    
    display: flex
    justify-content: space-between
    gap: 7vw
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    font-size: 30px
    margin: 0
    

.nav-items a
  position: relative
  display: inline-block
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1)
  text-decoration: none
  color: #fffcf2
  padding: 0 2px
  overflow: hidden
  opacity: .7
  transition:  all .45s ease-in-out

  &:hover
    opacity: .9
    transform: scale(1.1) rotate(-.5deg)
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2)
    &.active
      
    

  
  &.active
    
    opacity: 1
    transition:  all .45s ease-in-out
    transform: scale(1.25) 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3)




