


.nav-container
    background-color: #1f0463
    display: flex
    justify-content: space-around
    padding: 3vh
    margin: 0 
    

.nav-items
    
    display: flex
    justify-content: space-between
    gap: 7vw
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    font-size: 30px
    margin: 0
    

.nav-items a
  position: relative
  display: inline-block
  text-decoration: none
  color: white
  overflow: hidden

  // Pseudo-element for gradient underline
  &::after
    content: ''
    position: absolute
    left: 0
    right: 0
    bottom: 0
    height: 2px
    background: linear-gradient(to right, purple, pink, purple) // Extended gradient for seamless animation
    background-size: 200% 100%
    transition: opacity 0.3s ease
    opacity: 0

  // Active state with animation
  &.active
    color: white
    transform: scale(1.1)
    &::after
      opacity: 1
      animation: shiftColors 3s linear infinite

@keyframes shiftColors
  from
    background-position: 0% 0
  to
    background-position: -100% 0


