<div class="nav-container">
  <nav>
    <div class="nav-main-container">
      <div class="nav-name">
        <h1>Cole Baxendale</h1>
        <h2>Software Engineer</h2>
      </div>
      <div class="nav-items-main">
        <a class="nav-main" routerLink="/home" routerLinkActive="active"
          >Home</a
        >
        <a class="nav-main" routerLink="/resume" routerLinkActive="active"
        >Resume</a
      >
      </div>
    </div>
  </nav>
  <nav>
    <div class="nav-items-sub-main-container">
      <div class="nav-items-sub-main">
        <h1 class="nav-sub-main">FULL-STACK</h1>
        <a
          class="nav-sub-sub-main"
          routerLink="/full-stack/overhead-doors"
          routerLinkActive="active"
          >Overhead Doors</a
        >
        <a
          class="nav-sub-sub-main"
          routerLink="/full-stack/stock-simulator"
          routerLinkActive="active"
          >Stock Simulator</a
        >
      </div>
    </div>
  </nav>

  <nav>
    <div class="nav-items-sub-main-container">
      <div class="nav-items-sub-main">
        <h1 class="nav-sub-main">MACHINE LEARNING</h1>
        <a
          class="nav-sub-sub-main"
          routerLink="/machine-learning/chess"
          routerLinkActive="active"
          >AI Chess Opponent</a
        >
        <a
          class="nav-sub-sub-main"
          routerLink="/machine-learning/project"
          routerLinkActive="active"
          >Another Project</a
        >
      </div>
    </div>
  </nav>

  <nav>
    <div class="nav-items-sub-main-container">
      <div class="nav-items-sub-main">
        <h1 class="nav-sub-main">INNOVATIONS</h1>
        <a
          class="nav-sub-sub-main"
          routerLink="/innovations/software1"
          routerLinkActive="active"
          >Software Paper 1</a
        >
        <a
          class="nav-sub-sub-main"
          routerLink="/innovations/software2"
          routerLinkActive="active"
          >Software Paper 2</a
        >
      </div>
    </div>
  </nav>

  <nav>
    <div class="nav-items-sub-main-container">
      <div class="nav-items-sub-main">
        <h1 class="nav-sub-main">CONTACT</h1>
        <a
          class="nav-sub-sub-main"
          routerLink="/contact/allinfo"
          routerLinkActive="active"
          >All Info</a
        >
        <a
          class="nav-sub-sub-main"
          href="https://github.com/ColeBaxendale"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
        <a
          class="nav-sub-sub-main"
          href="https://www.linkedin.com/in/cole-baxendale-052302193"
          target="_blank"
          rel="noopener noreferrer"
          >Linkdln</a
        >
        <a
          class="nav-sub-sub-main"
          routerLink="/contact/email"
          routerLinkActive="active"
          >Email</a
        >
      </div>
    </div>
  </nav>

  <!-- <button id="theme-toggle">Toggle Theme</button>

  <script>
    document.getElementById('theme-toggle').addEventListener('click', () => {
      const currentTheme = document.body.getAttribute('data-theme')
      const newTheme = currentTheme === 'dark' ? 'light' : 'dark'
      document.body.setAttribute('data-theme', newTheme)
    })
  </script>
   -->
</div>
