*
    margin: 0
    padding: 0
    box-sizing: border-box

@font-face 
    font-family: "TheMunday"
    src: url('./assets/fonts/The-Munday.ttf') format('truetype')

.container 
  display: flex
  flex-direction: row
  height: 100vh 


/* Styling for the navbar */



/* Styling for the router outlet / main content area */
.main-content 
  overflow-y: auto
